#acode-plugin-tailwind-color-palette{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .outputDiv{
        height: 100px;
        width: 100px;
        padding: 10px;
        border: none;
        border-radius: 25px;
        background: #f8fafc;
        margin: auto;
        margin-top: 15px;
    }
    .inputCont{
        .result{
            padding: 5px;
            display: none;
            max-height: 150px;
            overflow: auto;
            background: var(--popup-background-color);
            box-shadow: 0 5px 8px var(--box-shadow-color);
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                background: var(--secondary-color);
            }
            &::-webkit-scrollbar-thumb {
                background: var(--scrollbar-color);
            }
            ul{
                width: 100%;
                list-style-type: none;
                margin: 0;
                padding: 0;
                li{
                    padding: 8px;
                    &:hover{
                        background: var(--accent-color);
                    }
                }
            }
        }
    }
    button{
        background: var(--button-background-color);
        color: var(--button-text-color);
        padding: 10px;
        border: none;
        border-radius: 12px;
        width: 100%;
        margin-top: 20px;
        font-size: 16px;
    }
}